/* ------------------------------------ *\
  #StyleguideColors
\* ------------------------------------ */

.StyleguideColors {
  display: flex;
  flex-flow: row wrap;
}

.StyleguideColors__item {
  margin-right: $bsu;
  margin-bottom: $bsu;

  @media (--xs) {
    margin-bottom: 0;
  }
}