/* ------------------------------------ *\
  #StarRating
\* ------------------------------------ */

.StarRating {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 12px;

  &.StarRating--is-large {
    font-size: 18px;
  }
}

.StarRating__icons {
  margin-right: 0.556em;
}

.StarRating__icon {
  margin-right: 0.278em;
}

.StarRating__text {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.009em;
  line-height: 1;

  @media (--xs) {
    font-size: 20px;
    letter-spacing: 0.013em;
  }
}
