/* ------------------------------------ *\
  #TheFallback
\* ------------------------------------ */

.TheFallback {
  width: 100%;
  height: calc(100vh - $bhh-sm);

  @media (--sm) {
    height: calc(100vh - $bhh);
  }
}
