/* ------------------------------------ *\
  #ShowSchedule
\* ------------------------------------ */

.ShowSchedule__title {
  margin-bottom: $bsu;

  @media (--xs) {
    margin-bottom: $bsu-lg;
  }
}

.ShowSchedule__grid {
  display: grid;
  grid-column-gap: $bsu-sm;
  grid-row-gap: $bsu;
  grid-template-columns: repeat(2, 1fr);

  @media (--xs) {
    grid-column-gap: calc($bsu + $bsu-md);
    grid-row-gap: $bsu-lg;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (--md) {
    grid-template-columns: repeat(6, 1fr);
  }
}