/* ------------------------------------ *\
  #Typography
\* ------------------------------------ */

/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'), url('/fonts/cabin-latin-regular.woff2') format('woff2'),
    url('/fonts/cabin-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin'),
       url('/fonts/cabin-latin-700.woff2') format('woff2'),
       url('/fonts/cabin-latin-700.woff') format('woff');
}

/* Headings */
h1,
.t-h1,
h2,
.t-h2,
h3,
.t-h3,
h4,
.t-h4,
h5,
.t-h5,
h6,
.t-h6 {
  font-weight: 400;
}

h1,
.t-h1 {
  font-size: 20px;
  letter-spacing: 0.031em;
  line-height: calc(25/20);

  @media (--sm) {
    font-size: 50px;
    letter-spacing: 0.021em;
    line-height: calc(50/50);
  }
}

h2,
.t-h2 {
  font-size: 20px;
  letter-spacing: 0.031em;
  line-height: calc(25/20);

  @media (--sm) {
    font-size: 30px;
    letter-spacing: 0.021em;
    line-height: calc(40/30);
  }
}

h3,
.t-h3 {
  font-size: 15px;
  letter-spacing: 0.009em;
  line-height: calc(20 / 15);

  @media (--sm) {
    font-size: 20px;
    letter-spacing: 0;
    line-height: calc(20 / 20);
  }
}

h4,
h5,
h6,
.t-h4 {
  font-size: 15px;
  letter-spacing: 0;
  line-height: calc(20 / 15);
}

/* Paragraphs */

p,
.t-para {
  font-size: 15px;
  letter-spacing: 0.009em;
  line-height: calc(20 / 15);

  @media (--sm) {
    font-size: 20px;
    letter-spacing: 0.013em;
    line-height: calc(30 / 20);
  }
}

p a,
.t-para a,
.t-link {
  text-decoration: underline;
  transition: opacity 250ms ease;

  &:hover {
    opacity: 0.6;
  }
}

.t-small {
  font-size: 10px;
  letter-spacing: 0.009em;
  line-height: 1;

  @media (--sm) {
    font-size: 12px;
  }
}
