/* ------------------------------------ *\
  #Wrappers
\* ------------------------------------ */

.wrapper {
  width: 100%;
  max-width: $bmw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (--sm) {
    padding-right: 80px;
    padding-left: 80px;
  }
}
