/* ------------------------------------ *\
  #TheHomeHero
\* ------------------------------------ */

.TheHomeHero {
  height: 185px;
  border-bottom: 2px solid $black;
  margin-bottom: 40px;

  @media (--sm) {
    height: 370px;
    margin-bottom: -150px;
  }
}

.TheHomeHero__text {
  max-width: 900px;
}