/* ------------------------------------ *\
  #ShowInfoImage
\* ------------------------------------ */

.ShowInfoImage {
  position: relative;
  display: block;
  overflow: hidden;
  width: 65px;
  height: 65px;
  margin-right: $bsu-sm;
  border-radius: 50%;

  @media (--sm) {
    width: 58px;
    height: 58px;
    margin-right: calc($bsu + $bsu-md);
  }
}