/* ------------------------------------ *\
  #ShowHero
\* ------------------------------------ */

.ShowHero {
  padding-bottom: 50px;
  border-bottom: 2px solid $black;
  margin-bottom: $bsu-lg;

  @media (--xs) {
    padding-bottom: 0;
    margin-bottom: 130px;
  }
}

.ShowHero__container {
  display: block;

  @media (--xs) {
    display: grid;
    margin-bottom: -$bsu-md;
    grid-column-gap: 50px;
    grid-row-gap: 0;
    grid-template-columns: 272px auto;
  }
}

.ShowHero__image {
  margin-bottom: $bsu;

  @media (--xs) {
    margin-bottom: 0;
  }
}

.ShowHero__info {
  max-width: 700px;

  @media (--xs) {
    padding-bottom: $bsu-md;
    margin-top: $bsu-md;
  }
}

.ShowHero__rating {
  margin-bottom: $bsu;
}
